{
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "include": [
    "api/**/*.js",
    "client/**/*.js"
  ],
  "exclude": [
    "**/__test__.js",
    "**/__fixtures__.js",
    "**/*.test.js",
    "**/*.config.js",
    "**/index.js",
    "**/test/"
  ],
  "all": true
}
