{
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "include": [
    "api/**/*.js",
    "client/**/*.js"
  ],
  "exclude": [
    "**/test/**",
    "**/.next/**",
    "**/index.js",
    "**/*.test.js",
    "**/*.config.js",
    "client/pages/",
    "client/layouts/"
  ],
  "all": true
}
