dist: xenial
language: node_js
node_js: 8
addons:
  postgresql: 9.6
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-5
services:
  - postgresql
env:
  global:
    - CXX=g++-5
before_script:
  - psql -c 'create database inqur;' -U postgres
script:
  - npm test
