dist: trusty
language: node_js
node_js: 8
env:
  - CXX=g++
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++
  postgresql: 9.6
services:
  - postgresql
before_install:
  - npm install -g greenkeeper-lockfile@1
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - psql -U postgres -c 'create database inqur;'
  - export PGDATABASE=inqur
  - npm run db:up
  - greenkeeper-lockfile-update
  - sleep 3
script:
  - npm run cover
after_script:
  - greenkeeper-lockfile-upload
